<nav class="navbar navbar-light bg-light">
    <div class="container">
        <form class="form-inline">
                <!--<img src="https://cdn5.f-cdn.com/contestentries/419315/17615651/5758567cad64d_thumb900.jpg" width="30" height="30" class="d-inline-block align-top" alt="">-->
            <img class="teamLogo" src="" alt="" width="30" height="30" class="d-inline-block align-top" alt="">
                Welcome: Username
            <br>
                
            <input id="locationSearch" class="form-control mr-sm-2" type="search" placeholder="Team" aria-label="Search">
            <button id="searchButton" class="btn btn-outline-success my-2 my-sm-0" type="submit">Test</button>
        </form>

        <button type="button" class="btn btn-outline-primary">Log Out</button>
    </div>
</nav>
<br>
  

<div class="container">     
    <div class="wrapper">
        <div class="one">Team Detail
            <p id="teamName"></p>
            <p id="conference"></p>
            <p id="division"></p>
            <p id="headCoach"></p>
            <p id="oc"></p>
            <p id="dc"></p>
            <p id="stc"></p>
            <p id="stadium"></p>
        </div>
        <div class="two">News
            <p id="title0"></p>
            <sup id="author0"></sup>
            <sup id="date0"></sup>
            <p id="content0"></p>
            <p id="title1"></p>
            <sup id="author1"></sup>
            <sup id="date1"></sup>
            <p id="content1"></p>
            <p id="title2"></p>
            <sup id="author2"></sup>
            <sup id="date2"></sup>
            <p id="content2"></p>
            <p id="title3"></p>
            <sup id="author3"></sup>
            <sup id="date3"></sup>
            <p id="content3"></p>
            <p id="title4"></p>
            <sup id="author4"></sup>
            <sup id="date4"></sup>
            <p id="content4"></p>
        </div>
        <div class="three">Forum
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
            <br>
            <p>Lorem, ipsum dolor.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur unde explicabo commodi.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
        <div class="four">Away Games</div>
        <div class="five">Fans
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur veritatis quos dolorum rerum, distinctio aliquam reprehenderit ab repellat sit ratione tempore repellendus numquam porro esse itaque recusandae eos? Odit nisi enim temporibus eaque ratione delectus est. Dolorum, quia incidunt ducimus expedita molestiae ea quam eaque?</p>
        </div>
                
        <div class="six">Bars
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, itaque hic cumque beatae veritatis maxime tempora magni nostrum dolore voluptatibus quos unde vero id excepturi.</p>
        </div>
        <div class="seven">Home Games
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis vel ducimus eos laborum voluptatem expedita autem, sit dolor sapiente id libero ea maiores quidem, excepturi officiis ratione at similique error.</p>
        </div>
        <div class="eight">
                <img class="teamName" src="" alt="">
        </div>

               
    </div>
</div>
<br>
 
   <!-- Footer -->
<footer id="footer">
    <div class="">
        <p class="m-0 text-center text-white">&copy; Project 2 2018</p>
    </div>
</footer>